.main-container {
  display: flex;
  flex-direction: column;;
  justify-content: space-around;
  align-items: center;
}

.button-container {
  border-radius: 20px;
  height: 40vh;
  width: 25vw;
  margin-top : 100px;
  display: flex;
  flex-direction: column;
  background-color: #666666;
  justify-content: space-around;
  box-shadow: -1px -1px 5px white
}

.btn {
  background-color: rgb(194, 181, 181);
  border-radius: 20px;
  align-self: center;
  margin: 20px;
  width: 20vw;
  height: 10vh;
}

.btn:hover {
  background-color: white;

}

/* .button-container a {
  display:block;
} */